<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/loginstyle.css}" />
</head>
<body>
<h2>Login</h2>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
<div>
<!--    <a th:href="@{/oauth2/authorization/google}">Login with Google</a>-->
</div>
<div>
    <a th:href="@{/register}">Sign Up</a>
</div>
</body>
</html>
