<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/custom-styles.css" rel="stylesheet" />

    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/custom.js"></script>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
    <h2 class="text-center mt-5">Fetch API Example</h2>
    <div id="response"></div>
    <button id="fetchButton">Send Request</button>
</div>

<script src="/js/try.js"></script>



</body>
<footer class="footer">
    <div class="container">
        <b>Made by Sushil</b>
    </div>
</footer>

</html>
